.app-header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    // margin-top: 24px;

    .top-row {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #c3c3c357;
        height: 80px;
        justify-content: space-between;


        .logo-container {
            font-size: 16px;
            display: flex;
            align-items: center;
            gap: 7px;
            font-family: airbnb;

            .logo-name {
                display: block;
                font-size: 1.3em;
                color: $logo;
                padding-right: 120px;
            }

            .logo {
                height: 32px;
                width: 32px;
            }
        }

        .search-icon {
            color: white;
        }
    }


    .user-info {
        display: flex;
        align-items: center;

        font-family: circular-light;
        font-weight: 600;
        font-size: 14px;

        img {
            width: 32px;
            height: 32px;
        }

        .avatar-container {
            padding: 12px;

            .avatar {
                height: 30px;
                width: 30px;
            }
        }

        .lang-container {
          
            padding: 12px;

            .lang {
                width: 18px;
                height: 18px;
                margin-top: 5px;
                font-weight: 600;
            }
        }
    }


    .bottom-row {
        display: flex;
        align-items: end;
        min-height: 100px;
        // margin-top: 20px;
    }

}