

.app-header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    // padding: 0 40px;

    .top-row {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #c3c3c357;
        height: 80px;
        justify-content: space-between;


        .logo-container {
            font-size: 16px;
            display: flex;
            align-items: center;
            gap: 7px;
            font-family: cerealBD;
            cursor: pointer;

            .logo-name {
                display: block;
                font-size: 1.3em;
                color: $logo;
                padding-right: 120px;

                @media (max-width: 1128px) {
                   display: none;
                }
            }

            .logo {
                height: 32px;
                width: 32px;
            }
        }

        .search-icon {
            color: white;
        }
    }

    hr {
       border: .1px solid #c3c3c331;
       padding: 0;
    }


    .user-info {
        display: flex;
        align-items: center;

        font-family: circularH;
        font-weight: 600;
        font-size: 14px;

        img {
            width: 32px;
            height: 32px;
        }

        .avatar-container {
            padding: 2px 8px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 8px;
            border: 1px solid #c3c3c3b4;
            border-radius: 20px;
            transition: .4s;
            position: relative;

            &:hover {
                box-shadow: 0 2px 4px rgba(0,0,0,0.18);
            }

            .avatar {
                height: 35px;
                width: 35px;
            }

            .menu {
                font-size: 18px;
            }
        }

        .lang-container {
          
            padding: 12px;

            .lang {
                width: 18px;
                height: 18px;
                margin-top: 5px;
                font-weight: 600;
            }
        }
    }


    // .bottom-row {
    //     // display: flex;
    //     // align-items: end;
    //     // // max-height: 80px;
    //     // // min-height: 80px;
    //     // justify-content: start;
    //     // margin-top: 20px;
    // }

}