.stay-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: em(40px) em(24px);
    margin-top: 48px;

    @include for-narrow-layout {
        grid-template-columns:
            repeat(2, 1fr)
    }

    @media (min-width: 950px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 1100px) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media (min-width: 1640px) {
        grid-template-columns: repeat(5, 1fr);
    }

    @media (min-width: 1880px) {
        grid-template-columns: repeat(6, 1fr);
    }


ul {
    list-style: none;
}

}