.stay-icon-filter {
    align-items: center;
    padding-top: 1.5rem;
    position: relative;
    // display: flex;
    margin: 0 40px;
    display: grid;
    grid-template-columns: 1fr 140px;
    z-index: 3;
    background-color: white;

    .filter-slider {
        align-items: center;
        display: flex;
        font-size: 12px;
        gap: 1.8rem;
        overflow-y: auto;
        white-space: nowrap;
        position: relative;
        scroll-behavior: smooth;
        font-family: circularL;
        // z-index: 3;

        &::-webkit-scrollbar {
            display: none;
        }
    }

  
        .left-container {
            position: absolute;
            background-color: rgba(255, 255, 255, 0.31);
            width: 50px;
            height: 65px;
            z-index: 3;
            display: flex;
            // left: -10px;
            align-items: center;
        }
        
        .right-container {
            
            background-color: rgba(255, 255, 255, 0.284);
            width: 50px;
            height: 65px;
            z-index: 3;
            display: flex;
            align-items: center;
            right: 0;
        }
        
        .arrow {
            background: white;
            border: 1px solid #ddd;
            display: flex;
            align-items: center;
            padding: 5px;
            border-radius: 50%;
            
        }



    .filter-btn {
        font-size: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3px;
        min-width: 70px;
        width: fit-content;
        text-align: center;
        // padding: 30px;
        color: #717171;
        font-family: circularH;
        padding-bottom: 10px;

        &:hover {
            color: black;
            border-bottom: $filter-icons 2px solid;
        }


        .filter-icon {
            fill: $filter-icons;
            height: 24px;
            width: 24px;
            opacity: .6;

            &:hover {
                opacity: 1;
            }
        }
    }
}