.stay-icon-filter {
    display: flex;
    gap: 25px;
    border-radius: 10px;
    background-color: white;
    align-items: center;
    color: $filter-icons;
    padding: 0 40px;
    font-family: circularL;
    position: relative;
    justify-content: center;

    .filter-icon-pagination {
        position: absolute;
        display: flex;
        align-self: center;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 7px;
        font-size: 26px;

        @include for-mobile-layout {
            display: none;
        }

        button {
            background-color: rgba(255, 255, 255, 0.71);
            border-radius: 50%;
            border: #c3c3c3 1px solid;
            height: 56px;
            width: 56px;
            font-size: 28px;
            box-shadow: 0px 0px 20px 30px rgb(255, 255, 255);
            z-index: 100;

            &.start,
            &.end {
                background-color: blue;
            }
        }

        .icons-right.end {
            opacity: 0.00000000000001;
        }

        .icons-left.start{
            opacity: 0.00000000000001;
        }

    }


    .filter-btn {
        font-size: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3px;
        min-width: 70px;
        width: fit-content;
        text-align: center;
        // padding: 30px;


        .filter-icon {
            fill: $filter-icons;
            height: 24px;
            width: 24px;
            opacity: .6;
        }
    }
}