@font-face {
    font-family: circular;
    src: url(../fonts/circular/CircularStd-Medium.otf);
}
@font-face {
    font-family: circular-light;
    src: url(../fonts/circular/CircularStd-Light.otf);
}
@font-face {
    font-family: airbnb;
    src: url(../fonts/circular/AirbnbCereal_W_Bd.otf);
}